
/* 1. INDICACIONES GENERALES */

/* 1.2 FUENTES Y COLORES DEL PROYECTO */

@font-face {
    font-family: Noto Bold;
    src: url(./fonts/NotoSerifDisplay-BlackItalic.ttf); }

@font-face {
    font-family: Regular;
    src: url(./fonts/NotoSerifDisplayLight.ttf);
}

@font-face {
    font-family: Italic;
    src: url(./fonts/NotoSerifDisplayLightItalic.ttf);
}


/* 1.3 OTRAS INDICACIONES GENERALES */

* {   
     box-sizing: border-box;
    cursor: none;}

body{
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;

}




/* 1.4 CURSOR */

#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 247, 247);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
    transition: opacity 0.15s;
  }
  
  #cursor-border {
    --size: 50px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
      height 0.15s ease-out;
    z-index: 999;
    font-family: Regular;
    text-align: center;
    display: flex;
    align-items: center;
    color: black;
  }


  #cursor-index {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
  }


  #cursor-border-index {
    --size: 50px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
      height 0.15s ease-out;
    z-index: 999;
  }

/* 1.5 HEADER */

header {
    height: 5vh;
    z-index: 3;
}


/* 1.5.1 HEADER QUE SE MUESTRA */

.header__show{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    font-family: 'Akira Expanded';
    font-size: 20px;
    font-size: 1.5rem;
}


.headershow__content {
    display: flex;
    justify-content: center;
    width: 35%;
    align-items: center;
    color: white;
    text-decoration: none;
}

.headershow__content:hover {
    color: gray;
}


.headershow__logo {
    display: flex;
    padding: 1rem 0rem 0rem;
    justify-content: center;
    height: 5.5rem;
    width: 30%;
}

.headershow__contentjs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    color: white;

}


.headershow__contentjs:hover {
    color: rgba(167, 157, 157, 0.969);
}


.indexlogo {
    height: 5rem;
    margin: .4rem 0  0 0;
}

/* 1.5. 2 HEADER ESCONDIDO */

.header__hidden{
    width: 0;
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    margin: 0 0 0 -7%;
    font-family: Regular;
   
}

.list__hidden {
    padding: 0;
    display: flex;
    list-style: none;
   
}

.headerhidden__content{
    padding: 1rem 1.5rem 0rem 1rem;
    margin: 0 3rem 0 0;
   
}

.hiddenlink {
    text-decoration: none;
    color: white;
}

.hiddenlink:nth-child(1):hover{
    color: rgba(167, 157, 157, 0.969);
   
}


.hiddenlink:nth-child(2):hover{
    color: rgba(167, 157, 157, 0.969);
   
}


.hiddenlink:nth-child(3):hover{
    color: rgba(167, 157, 157, 0.969);
   
}


/* 1.5.3 HEADER RESPONSIVE */

.header__responsive {
    display: none;
    font-family: Regular;
}

.boton__responsive{
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 2;
    font-size: 1.5rem;
    margin: 0rem 0rem 0 1.5rem;
    transition: font-size 1s;
   
}

.boton__responsive:hover {
    font-size: 2rem;
}

.list__responsive {
list-style: none;
width: 100%;
z-index: 1;
font-family: 'Akira Expanded';
font-size: 3rem;
text-align: center;
height: 100vh;
padding: 0;
margin: -0.2rem 0 0 0;
overflow: hidden;
background-color: black;

}

.indexlist {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px);


}

.listItem__responsive {

    padding: 5rem 0 0 0;
}


.bllink {
    color: white;
    text-decoration: none;
}


/* 1.6 FOOTER */


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.boton__footer {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2.5rem;
    margin: -4rem 0 0 1rem;
    
}




/* 2. INDICACIONES CONCRETAS PARA CADA PÃGINA */

/* INDEX */

.heroA {
    width: 100%;
    height: 90vh;
    min-width: 100%;
    min-height: 80vh;
    z-index: -2;
    overflow: hidden;
}

.heroVideoA {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -2;
}

.heroContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    margin: -5% 0 0 0;
}

.heroTitle {
    margin: 0;
    height: 100%;
    width: auto;
    animation: 2.5s fadeIn;

}


@keyframes fadeIn{
    0% {
      transform: translateY(5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
}  

.undertext {
    position: absolute;
    bottom: 13%;
    font-size: .8rem;
    font-family: Regular;
    color: white;
    display: flex;
    align-items: center;

}

.undertext> img {
    height: .7rem;
}

/* EDITORIAL DESIGN */


.main__magazine {
    display: flex;
}


.slider {
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;

}

.slider::-webkit-scrollbar {
    display: none;
}

.slide {
    min-width: 70vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slideportada {
    min-width: 50vw;
    justify-content: flex-end;
    min-height: 90vh;
    display: flex;
    align-items: center;
}


.portada {

        height: 40rem;
        width: 30rem;

}

.slide__content {

    height: 40rem;
    width: 60rem;
}

.sliderText {
    min-width: 25vw;
    padding: 0 0 0 3rem;
    align-self: center;
    font-family: Regular;
    text-align: justify;

    
}

.slide__title {
    margin: -2rem 0 0 0;
    font-family: 'Akira Expanded';
    font-size: 5rem;
    line-height: 80%;
    color: white;
    text-align: justify;

}

.slide__disclaimer {
    font-family: 'Akira Expanded';
}

.slide__text {
    color: white;
}



/* GRAPHIC DESIGN */

.grslide {
    min-width: 50vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.grsliderText {
min-width: 40vw;
padding: 0 0 0 3rem;
align-self: center;
font-family: Regular;
}


.grslide__content {
    height: 30rem;

}

.videoslide {
    height: 40rem;
    width: 20rem;
}



.videoslide__container {
    min-width: 30vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ABOUT ME */



.aboutme__container {
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
    padding: 0% 10% 0 10%;
    margin: .8% 0 0 0;
}

.aboutme__text {
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: 'Akira Expanded';
    font-size: 3.5vw;
    line-height: 4vw;

}


.highlight {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: transparent;


}
.aboutme__buttoncontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: -.5% 0 0 0;
}

.aboutme__button{
    background-color: transparent;
    font-size: 2.5vw;
    width: 5rem;
    border: transparent;
    user-select: none;
    transition: 1s ease-in-out;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
  }


 .slides__aboutme {
    display: none;
  }  
  
.smiley {
    font-size: 3.5vw;
}

.image1-aboutme {
    position: absolute;
    left: 30%;
    top: 20%; 
    z-index: -1; 

}


.image2-aboutme {
    position: absolute;
    right: 20%;
    top: 30%; 
    z-index: -1;

}

.image3-aboutme {
    position: absolute;
    left: 30%;
    bottom: 10%; 
    z-index: -1;

}


.imageshow {
    height: 22.5rem;

}



.image4-aboutme {
    position: absolute;
    right: 15%;
    bottom: 10%; 
    z-index: -1;

}


/* 3. MEDIA QUERY*/


/* 3.1 MEDIA QUERY GENERAL */

/* Header */

 @media screen and (max-width:1200px) {

    .header__hidden{

        margin: 0;
        font-size: 1rem;
    }
} 

@media screen and (max-width:1000px) {

    header {
        height: 2vh;
    }

    .header__responsive {
        padding: 2rem 0 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    .header__hidden {
        display: none;
    }
    
    .header__show {
        display: none;
    }

    .list__responsive {
        display: none;
        

    }

    .list__responsive--aparece{
        display: block;
    }

        .boton__footer {
            font-size: 2rem;
        }

}

@media screen and (max-height:720px) {

    .list__responsive{
        font-size: 2rem;
        padding: 0 10% 0 10%;
        margin: -5% 0 0 0;
    }

}



/* 3.2 MEDIA QUERY INDEX */

@media screen and (max-height: 900px) {
    .heroTitle {
        height: 90%;
    }
    .undertext{
        margin: 0;
        font-size: .6rem;
    }

    .undertext>img {
        height: .5rem;

    }
}

@media screen and (max-width:900px) {

    .heroTitle {
        height: 85%;
    }
    .undertext{
        margin: 0;
        font-size: .6rem;
    }

    .undertext>img {
        height: .5rem;

    }

}

@media screen and (max-width:700px) {

    .heroTitle {
        height: 62%;
    
    }
}
    

/* EDITORIAL DESIGN*/

@media screen and (max-width:1450px) {

    .slideportada {
    margin: 0 2rem 0 0;
    }

    .slide {
        min-width: 80vw;
       justify-content: flex-start;

    }

    .slide-final {
        margin: 0 3rem 0 0;
    }

.grslide { 
        min-width: 60vw;
    }

    
.videoslide__container {
    min-width: 35vw;
}


}

@media screen and (max-width:1230px) {

        .sliderText {
            min-width: 40vw;
        }

        .slide {
            min-width: 100vw;
            justify-content: center;
            }

        .grslide { 
                min-width: 70vw;
            }

        .grsliderText {
            min-width: 50vw;
        }

}


@media screen and (max-width:1025px) {

    .slideportada {
        min-width: 70vw;
        }

    .sliderText {
        min-width: 55vw;
    }

    .slide {
        min-width: 120vw;
        }

    .grslide { 
            min-width: 87vw;
        }
    .videoslide__container {
            min-width: 50vw;
        }
    
    .grsliderText {
            min-width: 57vw;
        }
}

@media screen and (max-width:815px) {

    .slideportada {
        min-width: 90vw;
        }

    .sliderText {
        min-width: 75vw;
    }

    .slide {
        min-width: 150vw;
        }

    .slide-final {
            margin: 0;
        }

    .grslide { 
            min-width: 110vw;
        }
    .videoslide__container {
            min-width: 55vw;
        }
    
    .grsliderText {
            min-width: 70vw;
        }
    
}

@media screen and (max-width:660px) {

    .slideportada {
        min-width: 110vw;
        justify-content: center;
        }

    .sliderText {
        min-width: 95vw;
    }

    .slide {
        min-width: 180vw;
        }

    .slide__content {
            height: 35rem;
            width: 55rem;
        }

    .portada {
        height: 35rem;
        width: 27rem;
    }

    
    .grslide__content {
    height: 22rem;

    }

    .videoslide {
    height: 33rem;
    width: 17rem;
    }

    .videoslide__container {
        min-width: 70vw;
    }
    
}

@media screen and (max-width:575px) {

    .grslide { 
        min-width: 130vw;
    }
    .videoslide__container {
        min-width: 70vw;
    }

    .grsliderText {
        min-width: 100vw;
    }
}


@media screen and (max-width:435px) {

        .slide__content {
            height: 30rem;
            width: 45rem;
        }

        .portada {
            height: 30rem;
            width: 23rem;
        }   

        .slide__title {
            font-size: 4rem;
        }

        .slide {
            min-width: 200vw;
            }

        .videoslide__container {
                min-width: 80vw;
            }

        .grslide { 
                min-width: 140vw;
            }
} 



@media screen and (max-width:380px) {

    .slide {
        min-width: 270vw;
        }
    .slideportada {
        min-width: 135vw;
        justify-content: flex-end;
    }

    .slide__title {
        font-size: 3rem;
    }

    .sliderText {
        min-width: 105vw;
    }

    .slide__text {
        font-size: 0.8rem;
    }

    .grsliderText {
        min-width: 105vw;
    }

    .videoslide__container {
            min-width: 100vw;
        }

    .grslide { 
            min-width: 190vw;
        }

}



/* 
HEIGHT */


@media screen and (max-height:815px) {

 .slide__content {

    height: 30rem;
    width: 45rem;
 }

 .slide {
    justify-content: flex-end;
 }


 .portada {

    height: 30rem;
    width: 23rem;

 }

}


@media screen and (max-height:635px) {

    .slide__content {

        height: 25rem;
        width: 40rem;
     }
    .portada {

        height: 25rem;
        width: 18rem;

    }

    .grslide__content {
        height: 22rem;
    
        }
    
    .videoslide {
        height: 30rem;
        width: 15rem;
        }


}



/*ABOUT ME*/

@media screen and (max-width:1260px) {

    .imageshow {
        height: 18.5rem;}

    
}

@media screen and (max-width:1080px) {

    .aboutme__text {
        line-height: 4vw;
    }

    .aboutme__buttoncontainer {
        margin: -3rem 0 0 0;
    }


    .imageshow {
        height: 15rem;}


}



@media screen and (max-width:1000px)  {

    .aboutme__container{
        padding: 0% 10% 0 10%;
    }

}

@media screen and (max-width:965px) {
    .aboutme__text{
        font-size:  4.3vw;
        line-height: 5vw;
    }

    .aboutme__buttoncontainer {
        margin: -2rem 0 0 0;
    }

    .image3-aboutme {
        left: 20%;
    }
}


@media screen and (max-width:860px) {

.image1-aboutme {
    top: 10%;
    left: 20%;
}

.image2-aboutme {
    bottom: 10%;
    right: 15%;
}

.image3-aboutme {
    top: 30%;
}

.aboutme__button{
    font-size: 3.5vw;
}

}

@media screen and (max-width:700px){

    .imageshow {
        height: 13.5rem;}



    .aboutme__text{
        font-size:  5vw;
        line-height: 5.8vw;
    }

    .image2-aboutme {
        top: 40%;
    }

    .image3-aboutme {
        top: 20%;
    }
}

@media screen and (max-width:500px){

    
    .imageshow {
        height: 11.5rem;}


    .aboutme__text{
        font-size:  6.5vw;
        line-height: 8vw;
    }

    .aboutme__button{
        font-size: 6vw;
    }
}


@media screen and (max-width:300px){

    
    .imageshow {
        height: 8rem;}



}


/* CURSOR*/

@media (hover:none) {
    #cursor {
        display: none;

    }

    #cursor-border {
        display: none;
    }

}


